<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exámenes - EduPets</title>
  <link rel="stylesheet" href="{{ url_for('static', path='Estilos/Ejercicios.css') }}">
</head>
<body>
  <iframe src="/player" class="audio-frame" allow="autoplay"></iframe>

  <div class="header" id="titulo">Exámenes: ejercicios de ?</div>
  <div class="hearts">
    <img src="{{ url_for('static', path='assets/images/Vida.png') }}" id="vida1" alt="Vida 1">
    <img src="{{ url_for('static', path='assets/images/Vida.png') }}" id="vida2" alt="Vida 2">
  </div>

  <main class="container">
    <img src="{{ url_for('static', path='assets/images/pet.png') }}" alt="Pingüino" class="penguin">
    <div class="question" id="pregunta">¿Cuánto es?</div>
    <div class="options" id="opciones"></div>
    <div id="mensaje"></div>
  </main>

  <a class="arrow left" href="/mascota">Volver</a>

  <script src="{{ url_for('static', path='js/Examen.js') }}"></script>
</body>
</html>
