<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>¿Por qué hicimos EduPets?</title>
  <link rel="stylesheet" href="{{ url_for('static', path='Estilos/informacion.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', path='assets/images/Logo.png') }}">
</head>
<body>
  <iframe src="/player" class="audio-frame" allow="autoplay"></iframe>

  <main class="container">
    <nav class="top-bar">
      <a href="/que-es">¿Qué es EduPets?</a>
      <a href="/equipo">El equipo</a>
      <a href="/por-que">¿Por qué lo hicimos?</a>
    </nav>

    <section class="content">
      <p class="texto">
        Como equipo, llegamos a una conclusión: a los más pequeños se les puede hacer compleja o tediosa la asignatura de matemáticas. Por eso decidimos investigar más a fondo y apoyar a niños con dificultades académicas, además de chicos que presenten TDAH.
      </p>
      <div class="imagen">
        <img src="{{ url_for('static', path='assets/images/pet.png') }}" alt="Pingüino">
      </div>
    </section>

    <a class="volver" href="/que-es">↩</a>
  </main>
</body>
</html>
