<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ayuda - Edupets</title>
  <link rel="stylesheet" href="Estilos/informacion.css">
  <link rel="icon" type="image/png" href="imagenes/Logo.png">

</head>
  <iframe src="player.html" style="display:none;" allow="autoplay"></iframe>
<body>
  <div class="container">
    <div class="top-bar">
      <a href="que es.html">¿Qué es Edupets?</a>
      <a href="equipo.html">El equipo</a>
      <a href="por que.html">¿Por qué lo hicimos?</a>
    </div>

    <div class="content">
      <div class="texto">
        Como equipo, llegamos a una conclución, a los mas pequeños se les puede hacer algo complejo o tedioso la asignatura de matematicas, asi que desidimos investigar mas a fondo y decidimos apoyar a niños, no solo con dificultades 
        academicas, sino tambien a chicos que presenten TDAH.
      </div>
      <div class="imagen">
        <img src="imagenes/pet.png" alt="Pingüino" />
      </div>
    </div>

    <a class="volver" href="javascript:history.back()">↩</a>
  </div>
</body>
</html>
