<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a nuestra fuente de lucro</title>
    <link rel="stylesheet" href="Estilos/Tienda.css">

</head>

<body>
    <h1>Tienda</h1>
    <div class="cosmeticos">
        <div class="product-card">
            <img class="product-image" src="imagenes/cp.png" alt="Producto de la tienda">
            <div class="product-info">
                <h2>Producto destacado</h2>
                <p class="product-price">$9.99</p>
            </div>
        </div>
    </div>
</body>
</html>